<% layout("/layouts/boilerplate") -%>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top : 80px;
    background-color: white;
    z-index: 1000;
  }
  .filter {
    text-align: center;
    margin-right: 1.55rem;
    margin-top: 1.5rem;
    opacity: .8;
    text-decoration: none;
    color: inherit;
  }
  .filter p {
    font-size: .8rem;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .category {
    display : flex;
  }
  .tax-info {
    display: none;
  }
  .tax-toggle {
    border : 1px solid black;
    border-radius : 1rem;
    height : 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  .price-filter {
    margin: 0 2rem;
  }
  .price-filter-btn {
    all: unset;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      padding: 8px 16px;
      border: 1px solid #ccc; 
      border-radius: 999px; 
      font-family: sans-serif;
      font-size: 16px;
      cursor: pointer;
      transition: border-color 0.2s ease;
  }
  .price-filter-btn:hover {
      border-color: #000; 
    }
    .arrow {
  font-size: 12px;
}
.price-filter-wrapper {
  position: relative;
  display: inline-block;
}

.price-dropdown-box {
  display: none;
  position: absolute;
  top: 120%;    

  width: 350px;
  background-color: gainsboro;
  z-index: 9999; 
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}
  .dropbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .dropdown-section {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .price-input {
    margin-left: 15px;
    border-radius: 4rem;
    height: 2rem;
  }
</style>
  <body>
    <div id="filters">
      <div class="category">
        <a  href="/listings?q=trending" class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </a>
      <a  href="/listings?q=rooms" class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>
      <a  href="/listings?q=iconic cities" class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </a>
      <a  href="/listings?q=mountains" class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </a>
      <a  href="/listings?q=castles" class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </a>
      <a  href="/listings?q=amazing pools" class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </a>
      <a  href="/listings?q=camping" class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </a>
      <a  href="/listings?q=farms" class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </a>
      <a  href="/listings?q=arctic" class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </a>
      <a  href="/listings?q=domes" class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </a>
      <a  href="/listings?q=boats" class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </a>
      </div>
      <div class="price-filter">
  <div class="price-filter-wrapper">
    <button class="price-filter-btn">Price Filter
      <span class="arrow">▼</span>
    </button>
    <div class="price-dropdown-box">
      <form action="/listings">
        <div class="dropbox">
          <div class="dropdown-section" style="font-size: large;"><b>Select Price Range</b></div>
          <div class="dropdown-section">
            <span>Minimum Price</span>
            <input class="price-input" type="number" placeholder="0" name="priceMin" required>
          </div>
          <div class="dropdown-section">
            <span>Maximum Price</span>
            <input class="price-input" type="number" placeholder="20000" name="priceMax" required>
          </div>
          <div class="dropdown-section">
            <button type="submit" class="btn btn-dark">Show</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>        
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
    <% for(listing of allListings){ %>
      <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card col mb-2">
      <div class="card-img-overlay"></div>
      <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height : 20rem">
      <div class="card-body">
        <p class="card-text">
          <b><%=listing.title%></b><br>
          &#8377; <%= (listing.price ? listing.price.toLocaleString("en-IN") : "N/A") %> / night
          <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
        </p>
      </div>
    </div>
  </a>
    <% } %>
  </div>
  
  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for(info of taxInfo) {
        if(info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    })
    let priceFilterBtn = document.querySelector(".price-filter-btn");
    priceFilterBtn.addEventListener("click", () => {
      let priceFilterPanel = document.querySelector(".price-dropdown-box");
      if(priceFilterPanel.style.display == "block") {
        priceFilterPanel.style.display = "none";
      }
      else {
        priceFilterPanel.style.display = "block";
      }
    })
  </script>
  </body>
  
